<div class="mt-5 base-content h-100">
  <div class="border-bottom pb-5 mr-5">
    <h1 class="title">Typography</h1>
    <h2 class="mt-3">Typography, like color, carries with it a feeling. 
      It is a simple way to convey personality and is a basis to a well crafted application.</h2>
  </div>
  <div class="mr-5">
    <h2 class="mt-5 secondary-title">Fonts</h2>
    <span class="content-writing">
      Komorebi uses two type faces.
    </span>
    <div class="typo-container d-flex w-50 mt-5 justify-content-between">
      <span class="d-inline-flex pl-4 noto">NotoSansJP</span>
      <span class="d-inline-flex quicksand">Quicksand</span>
    </div>
  </div>
</div>