<div class="mt-5 base-content h-100">
  <div class="border-bottom pb-5 mr-5">
    <h1 class="title">Color</h1>
    <h2 class="mt-3">Color is a powerful way to convey your brand's intentions or style.</h2>
  </div>
  <div class="mr-5">
    <h2 class="mt-5 secondary-title">Swatches</h2>
    <span class="content-writing">
      This color palette is intended to exemplify the meaning of the Japanese word Komorebi.
      The word's <i>definition</i> is <i>sunlight filtering through the leaves of the trees.</i>
    </span>
    <div class="d-flex flex-wrap mt-4 color-swatch-container">
      <ul *ngFor="let color of colors">
        <li class="color-swatch-list">
          <span class="color-swatch d-flex" [ngStyle]="{'background-color': colorSwatch(color.color)}"></span>
          <div class="d-flex shadow-sm">
            <span class="color-swatch-details flex-fill">{{ color.contentName }}</span>
            <div class="d-flex flex-wrap w-50">
              <span class="hex text-right flex-fill">HEX</span>
              <span class="color-value text-right flex-fill">{{ color.contentValue }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>