<div class="d-flex sidenav">
  <div class="sticky-top flex-grow-1 border-right sidenav-content">
    <div class="nav flex-sm-column ml-3">
      <h4 class="d-sm-inline">Patterns & Content</h4>
      <a href="" class="nav-link">Accordion</a>
      <a href="" class="nav-link">Alert</a>
      <a href="" class="nav-link">Buttons</a>
      <a href="" class="nav-link">Footer</a>
      <a href="" class="nav-link">Form Controls</a>
      <a href="" class="nav-link">Header</a>
      <a href="" class="nav-link">Search Bar</a>
    </div>
    <div class="nav flex-sm-column ml-3">
      <h4 class="d-sm-inline">Style Guide</h4>
      <a href="" class="nav-link">Color</a>
      <a href="" class="nav-link">Grid</a>
      <a href="" class="nav-link">Typography</a>
    </div>
  </div>
</div>