<div class="mt-5 base-content h-100">
  <div class="border-bottom pb-5 mr-5">
    <h1 class="title">Biography</h1>
    <h2 class="mt-3">First off, thank you for checking out my pattern library!</h2>
  </div>
  <div class="mr-5">
    <h2 class="mt-5 secondary-title">Now, who is CJ?</h2>
    <p class="content-writing">
      I am a UX Developer, currently located in Charlotte, NC. 
      My experience in the technical world is pretty short if you count it in years, but the work I've done so far is much greater than that. 
      In the two years that I have worked in a corporate position, I was the lead UI Designer for an app called Fuego - 
      you can find that app on the Google Play store and App Store. I assisted in the development of an out-going system for a company called Empowered using HTML, SCSS, jQuery all housed on a Java backend.
      While at the company, I also developed large full stack features for the future proof system built on Angular 6+. 
      We used HTML, SCSS, Typescript or ES6 as well as ancillary languages like Kendo, NGXS for state management, and Bootstrap.
      Lastly, I have built this application in my spare time with the help of copious amounts of caffiene and a need to make something for myself.
    </p>
    <p class="content-writing">
      In my leisure time; I am a rock climber, gamer/streamer - infrequently - on the weekends, photographer, and foodie. 
      I try not to take life too seriously, but I am motivated by my work which I do take seriously.
    </p>
  </div>
</div>